html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("https://wpmisc.com/sites/default/files/wallpaper/abstract/65917/blue-background-hd-wallpapers-65917-4078056.png");
    background-repeat: repeat-y;
  }
  
  img {
    height: 100%
  }
  
  a {
    text-decoration: underline;
    color: purple;
  }
  
  h1,h2 {
    font-family: 'Oswald', sans-serif;
  }
  
  p {
    font-family: 'Helvetica', sans-serif;
  }
  
  
  nav h1 {
    float: left;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 46px;
    margin: 10px 20px 20px 10px;
  }
  
  main {
  color: black;
  background-color: white;
  text-align: center;
  width: 97%;
  padding: 20px 0px 40px 0px;
  margin: 0px 20px;
  border: grey solid 1px;
  }
  
  
  footer {
    color: rgb(213, 230, 232);
    background-color: rgb(0, 45, 58);
    width: 100%;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
  }